

<nav>
    <a href="#">Ana Sayfa</a>

    
    @if (Session["KullaniciBilgileri"] != null)
    {
        if (((ArabamNeYakar.Entities.User)Session["KullaniciBilgileri"]).userroles.SingleOrDefault(q => q.users.id == ((ArabamNeYakar.Entities.User)Session["KullaniciBilgileri"]).id).roles.id == 1)
        {
            <a href="@Url.Action("Index", "Giris", new { AreaName="Admin"})">Admin Paneli</a>
            <a href="#">User</a>
        }
        <a href="#">Dashboard</a>
    }
    else
    {
        <a href="@Url.Action("Index","LogOn")">LogOn</a>
        <a href="@Url.Action("Index","LogIn")">LogIn</a>
    }
   
    <!--<?php if (Session::get('loggedIn') == false):?>
     <a href="<?php echo URL; ?>index">Index</a>
     <a href="<?php echo URL; ?>help">Help</a>
     <?php endif; ?>
     <?php if (Session::get('loggedIn') == true):?>
     <a href="<?php echo URL; ?>dashboard">Dashboard</a>
     <a href="<?php echo URL; ?>note">Notes</a>

     <?php if (Session::get('role') == 'owner'):?>
     <a href="<?php echo URL; ?>user">Users</a>
     <?php endif; ?>

     <a href="<?php echo URL; ?>dashboard/logout">Logout</a>
     <?php else: ?>
     <a href="<?php echo URL; ?>login">Login</a>
     <a href="<?php echo URL; ?>logon">Logon</a>
     <?php endif; ?>-->
</nav>